<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="TwitterKey" value="qiumjBexAe0qb4owaCpXwU88O" />
		<add key="TwitterSecret" value="D7XN84ZfQMrGrNa7pdvMbJfj9n3Cr7mOtl4pChiHX2iybpvXF9"/>
		<add key="BearerToken" value="AAAAAAAAAAAAAAAAAAAAACxnOAEAAAAAj0dow%2FPJEg8oJWUTGjGGAAu%2FP%2BY%3Do1VnpCKZLZkQjVVV79ITyuZTC1CXvraiZ8z6N2RNZFmmC4ndop"/>
	</appSettings>
</configuration>